# Big Data Project

By Siqi Jiang, Lingchen Kong, Haofu Wu, Guangzhe Zhu

## Import Spark

In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("project`").getOrCreate()

In [2]:
spark

## Data Preparation

In [5]:
import pandas as pd
import numpy as np
import pyspark.sql.functions as F

In [6]:
# import review dataset
reviews = spark.read.parquet("s3://amazon-reviews-pds/parquet")

In [10]:
reviews.limit(5).toPandas()

,marketplace,customer_id,review_id,product_id,product_parent,product_title,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date,year,product_category
0,US,51616244,R377X8K0DQC0AY,1118490371,649457766,Excel VBA Programming For Dummies,4,0,0,N,Y,Good book. But . . very basic.,Good book. Fun and easy to read. Exercises are...,2015-05-03,2015,Books
1,UK,9573248,R2F8X7Q3FZ8TZX,0141976144,836582735,"Wreck This Journal: To Create is to Destroy, N...",5,1,1,N,Y,Excellent!,"My 10yr old daughter loves it, got her creativ...",2014-04-10,2014,Books
2,US,17883926,R3ELMYHDO6QIR0,0385738765,723768527,"The Scorch Trials (Maze Runner, Book 2)",5,0,0,N,Y,GREAT!,"All these are terrific, you have to read them ...",2015-05-03,2015,Books
3,UK,29886436,R3BAAQTVOD1GFQ,0007430043,243408851,Lost and Found Pop-up,5,0,0,N,Y,everyone should have a copy in the library!,a real masterpiece every child should have in ...,2014-04-10,2014,Books
4,US,17883926,RFVC9E0SPV01O,0385738773,243657408,"The Death Cure (Maze Runner, Book 3)",5,0,0,N,Y,Get it.,No stopping on this one as a follow up to Maze...,2015-05-03,2015,Books

In [43]:
reviews.filter("product_title = 'Excel VBA Programming For Dummies'").limit(5).toPandas()

,marketplace,customer_id,review_id,product_id,product_parent,product_title,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date,year,product_category
0,UK,23174440,R3RDBFR7ZNKULB,1118490371,649457766,Excel VBA Programming For Dummies,4,43,43,N,Y,"Great intro, gets you up to a practical level ...",NOTE - Added 03.01.2017 - I wrote this review ...,2013-10-06,2013,Books
1,FR,49749962,RKAW3B6UMS946,1118490371,649457766,Excel VBA Programming For Dummies,5,0,0,N,Y,La référence!,Très bien écrit (avec une touche d'humour) et ...,2013-11-23,2013,Books
2,US,38258656,R7EPSZACLLKQ2,1118490371,649457766,Excel VBA Programming For Dummies,5,1,2,N,Y,Perfect Starting Point,"Wow, I wanted to get started with VBA, and I b...",2014-01-21,2014,Books
3,US,38258656,R7EPSZACLLKQ2,1118490371,649457766,Excel VBA Programming For Dummies,5,1,2,N,Y,Perfect Starting Point,"Wow, I wanted to get started with VBA, and I b...",2014-01-21,2014,Books
4,US,40694538,R2DI9VLOHUAM7Y,1118490371,649457766,Excel VBA Programming For Dummies,5,9,10,N,Y,VBA programming success - finally,Over the years I have tried many books to help...,2013-06-17,2013,Books

In [9]:
reviews.count()

160796570

In [36]:
print('US', reviews.filter("marketplace = 'US'").count())
print('DE', reviews.filter("marketplace = 'DE'").count())
print('FR', reviews.filter("marketplace = 'FR'").count())
print('UK', reviews.filter("marketplace = 'UK'").count())
print('JP', reviews.filter("marketplace = 'JP'").count())

US 157893444
DE 679121
FR 254080
UK 1707494
JP 262431

In [39]:
reviews.filter("marketplace = 'JP'").limit(5).toPandas()

,marketplace,customer_id,review_id,product_id,product_parent,product_title,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date,year,product_category
0,JP,40652769,R2UW7RR1S6ZZN7,1843547228,328266944,The White Tiger,5,1,1,N,N,インドで読みました,インディラ・ガンディ国際空港のWH Smithで購入。経済誌等で見かける急速な経済成長を遂げ...,2012-07-01,2012,Books
1,JP,37855440,R1I8WZXX6ONNG1,0634014331,804311147,"Hammond Organ Complete: Tunes, Tones, and Tech...",5,3,3,N,Y,CDの内容が打ち込みではない実演で、どれも素晴らしいです。,英語の教則本ですが、簡単な英文です。<br />課題毎のドローバーレジストレーションチャート...,2012-07-03,2012,Books
2,JP,36047982,RJA9FJOQHTX3Z,3438052199,502840600,Biblia Hebraica Stuttgartensia,5,5,6,N,Y,何処が違うのでしょう,ヘブライ語の聖書が欲しくなり購入。Ｋ．ＥＬＬＩＧＥＲとＷ．ＲＵＤＯＬＰＨと成っており、１９９...,2012-07-05,2012,Books
3,JP,49029186,RGOR9KDET9TAE,0451529065,796780795,The Origin of Species: 150th Anniversary Edition,5,7,7,N,Y,科学・技術分野を専門として英語を学ぶ学生さんにも手にして欲しい本,『種の起源』の登場から100年周年記念の1958年にSir Julian Huxleyによ...,2012-07-06,2012,Books
4,JP,8481592,RFLSB3XR3EKRR,0141345659,582629146,The Fault in Our Stars,5,0,1,N,Y,大好きな本,I love this book!!!発送も早くて大満足です！！！,2014-11-22,2014,Books

In [42]:
reviews.select('product_category').distinct().count()

43

In [44]:
reviews.select('product_category').distinct().show(43)

+--------------------+
|    product_category|
+--------------------+
|                  PC|
|             Kitchen|
|                Home|
|            Wireless|
|               Video|
| Digital_Video_Games|
|Digital_Video_Dow...|
|             Luggage|
|              Sports|
|         Video_Games|
|  Mobile_Electronics|
|  Home_Entertainment|
|Digital_Ebook_Pur...|
|                Baby|
|             Apparel|
|    Major_Appliances|
|             Grocery|
|               Tools|
|         Electronics|
|            Outdoors|
|     Lawn_and_Garden|
|    Home_Improvement|
|        Pet_Products|
|          Automotive|
| Musical_Instruments|
|               Books|
|    Digital_Software|
|Health_&_Personal...|
|               Music|
|           Furniture|
|Personal_Care_App...|
|            Software|
|         Mobile_Apps|
|Digital_Music_Pur...|
|              Camera|
|               Shoes|
|     Office_Products|
|           Gift_Card|
|             Jewelry|
|             Watches|
|              Beauty|
|                Toys|
|           Video_DVD|
+--------------------+

In [32]:
#country = list(reviews.select('marketplace').distinct().toPandas()['marketplace'])

In [41]:
us_reviews = reviews.filter("marketplace = 'US'")

In [45]:
us_reviews.select('marketplace').distinct().count()

1

In [46]:
us_reviews.filter("product_category = 'Books'").count()

20370130

In [ ]:
spark.stop()